<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="assets/img/favicon.ico">
    <title>{{ page.title }}</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/css/mediumish.css" rel="stylesheet">
    <link href="/assets/css/vim.css" rel="stylesheet">
    <link href="/assets/css/overrides.css" rel="stylesheet">
  </head>
  <body>

    <!-- Begin Nav ================================================== -->
    <nav class="navbar navbar-toggleable-md navbar-light bg-white fixed-top mediumnavigation">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container">
        <!-- Begin Logo -->
        <a class="navbar-brand" href="/">
          slawosz.github.io
        </a>
        <!-- End Logo -->
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <!-- Begin Menu -->
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/about">About</a>
            </li>
          </ul>
          <!-- End Menu -->
        </div>
      </div>
    </nav>
    <!-- End Nav ================================================== -->
    <!-- Begin Site Title ================================================== -->
    <div class="container all-posts">
      <div class="mainheading">
        <h1 class="sitetitle">Slawosz programming blog</h1>
        <p class="lead">
        Backent, databases, distributed systems and more.
        </p>
      </div>
      <!-- End Site Title ================================================== -->

      {{ content }}
      <!-- Begin Featured ================================================== -->

      <!-- end post -->

      <!-- End List Posts ================================================== -->

      <!-- Begin Footer ================================================== -->
      <div class="footer">
        <p class="pull-left">
        Copyright &copy; 2017 Your Website Name
        </p>
        <p class="pull-right">
        Mediumish Theme by <a target="_blank" href="https://www.wowthemes.net">WowThemes.net</a>
        </p>
        <div class="clearfix">
        </div>
      </div>
      <!-- End Footer ================================================== -->

    </div>
    <!-- /.container -->

    <!-- Bootstrap core JavaScript ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/ie10-viewport-bug-workaround.js"></script>

    <!--- BEGIN GOOGLE ANALYTICS ------>
    <script type="text/javascript">


      var _gaq = _gaq || [];
_gaq.push(['_setAccount', 'UA-18022361-1']);
_gaq.push(['_trackPageview']);

(function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
})();

    </script>
    <!--- END GOOGLE ANALYTICS ------>
    <script type="text/javascript">
      var disqus_shortname = 'slawosz';
(function () {
  var s = document.createElement('script'); s.async = true;
  s.src = 'http://disqus.com/forums/slawosz/count.js';
  (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
}());
    </script>
  </body>
</html>
